POSTGRES_DB=jungle_gaming
POSTGRES_USER=app_user
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

WAGERING_EVENTS_QUEUE_URL=url:wagering-events.fifo
WAGER_TRANSACTIONS_QUEUE_URL=url_wager-transactions.fifo
WAGER_TRANSACTIONS_DLQ_URL=url_wager-transactions-dlq.fifo

SQS_ENDPOINT=http://localhost:porta
AWS_REGION=region
AWS_ACCESS_KEY_ID=key_id
AWS_SECRET_ACCESS_KEY=secret_key